<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
	    <testsuite name="Decorator-pattern test suite">
	        <directory>./tests</directory>
	    </testsuite>
    </testsuites>
    
    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
    <php>
        <const name="SOMETHING_TO_WRITE" value="foo" />
    </php>
</phpunit>